[submodule "uidevice-extension"]
	path = uidevice-extension
	url = http://github.com/erica/uidevice-extension.git
[submodule "EdventurousFramework"]
	path = EdventurousFramework
	url = http://github.com/echoz/EdventurousFramework.git
