<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>About</string>
		<array>
			<dict>
				<key>value</key>
				<string>1.0</string>
				<key>name</key>
				<string>Version</string>
			</dict>
			<dict>
				<key>value</key>
				<string>the.ornyx.net/traversity</string>
				<key>url</key>
				<string>http://the.ornyx.net/traversity</string>
				<key>name</key>
				<string>URL</string>
			</dict>
		</array>
	</array>
	<array>
		<string>Credits</string>
		<array>
			<dict>
				<key>value</key>
				<string>Jeremy Foo</string>
				<key>url</key>
				<string>http://www.twitter.com/echoz</string>
				<key>name</key>
				<string>Development</string>
			</dict>
			<dict>
				<key>url</key>
				<string>http://www.twitter.com/frijole</string>
				<key>value</key>
				<string>Ian Meyer</string>
				<key>name</key>
				<string>Graphics</string>
			</dict>
		</array>
	</array>
	<array>
		<string>Video Demos</string>
		<array>
			<dict>
				<key>name</key>
				<string>Search for stops</string>
				<key>video</key>
				<string>search.mp4</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Mark stops as favourite</string>
				<key>video</key>
				<string>favorite.mp4</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Proximity Search</string>
				<key>video</key>
				<string>proximity.mp4</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Use manual Iris Query</string>
				<key>video</key>
				<string>iris.mp4</string>
			</dict>
		</array>
	</array>
	<array>
		<string>Open Source</string>
		<array>
			<dict>
				<key>name</key>
				<string>Glyphish</string>
				<key>url</key>
				<string>http://www.glyphish.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JONTUBusCore</string>
				<key>url</key>
				<string>http://github.com/echoz/JONTUBusCore</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RegexKitLite</string>
				<key>url</key>
				<string>http://regexkit.sourceforge.net/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>UIDevice Additions</string>
				<key>url</key>
				<string>http://github.com/erica/uidevice-extension</string>
			</dict>
		</array>
	</array>
</array>
</plist>
