body {
	font-family: Helvetica;
	margin: 0;
	padding: 0;
	background-image: url(bg-blur.jpg);
	background-size: 100%;
	background-attachment: scroll;
	background-position-x: 0;
	background-position-y: -50px;
	color: #fff;
}

a:link img, a:visited img, a:hover img {
	border: none;
}

a:link, a:visited {
	color: #000;
	text-decoration: none;
	text-shadow: none;
}

a:hover {
	text-shadow: #000 0px 1px 1px;
	color: #fff;
}

.clear {
	clear: both;
}

div.abovecanvas {
	width: 1000px;
	margin: 0 auto;
}

div.abovecanvas div.header{
	position: absolute;
	top: 250px;
	text-shadow: #000 0px 1px 2px;
	width: 500px;
}

a.appstorebadge {
	position: absolute;
	top:650px;
	margin-left: 350px;
	border: none;
}

div.abovecanvas div.promo {
	position: absolute;
	top:950px;
	margin-left: 120px;
}

div.promo ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

div.promo ul li {
	margin-left: -70px;
	float: left;
}

div.screenshots {
	margin: 40px;
}

div.screenshots ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.screenshots ul li {
	float: left;
}

div.header img {
	float: left;
	width: 128px;
}

div.header div.text {
	float: right;
	margin: 35px 0px;
	width: 350px;
}

div.header div.text h1 {
	margin: 0;
	padding: 0;
}

.tagline {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
}

.copyrightline {
	font-size: 0.75em;
	font-weight: 700;
}

div.canvasshadow {
	height: 10px;
	background: url(shadow.png) repeat-x top left;
}

div.ubercanvas {
	margin-top: 700px;

}

div.canvas {
	background: #b4b4b4 url(content.bg.jpg) repeat-x top left;
}

div.canvascontent {
	padding: 0;
	margin: 0 auto;
	width: 1000px;
}

div.content {
	float: left;
	width: 600px;
	text-shadow: #fff 0px 1px 1px;
	color: #000;
	margin-top: 30px;
}

div.player {
	float:right;
	width: 400px;
}

div.player div.ui {
	margin-top: -650px;
}

div.player div.ui object {
	display: block;
	position: relative;
	margin-top: -631px;
	left: 47px;	
}

div.player div.player-content {
	display: block;
	position: relative
	margin-top: -631px;
	padding: 0 20px;
}

div.player div.player-content object {
	margin-left: 40px;
	
}

ul.bullet-points {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 650px;	
}

ul.bullet-points li {
	width: 270px;
	margin: 20px;
	float:left;
}

ul.bullet-points ul li {
	margin: 0;
}

ul.bullet-points li h2 {
	font-size: 1em;
	margin: 0;
}

ul.bullet-points li p, ul.bullet-points li ul li {
	font-size:0.95em;
}

ul.bullet-points li ul li a {
	font-size:0.85em;	
}