<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Facebook Integration</string>
			<key>Key</key>
			<string>fb_integration</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Application Information</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>1.0.5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>URL</string>
			<key>DefaultValue</key>
			<string>http://the.ornyx.net/traversity</string>
			<key>Key</key>
			<string>url</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Development</string>
			<key>DefaultValue</key>
			<string>Jeremy Foo</string>
			<key>Key</key>
			<string>developer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Graphics</string>
			<key>DefaultValue</key>
			<string>Ian Meyer</string>
			<key>Key</key>
			<string>graphics</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Open Source</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Glyphish</string>
			<key>DefaultValue</key>
			<string>glyphish.com</string>
			<key>Key</key>
			<string>glyphish</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>EdventurousFramework</string>
			<key>DefaultValue</key>
			<string>github.com/echoz/EdventurousFramework</string>
			<key>Key</key>
			<string>ef</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>RegexKitLite</string>
			<key>DefaultValue</key>
			<string>regexkit.sourceforge.net</string>
			<key>Key</key>
			<string>regexkit</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>UIDevice Additions</string>
			<key>DefaultValue</key>
			<string>github.com/erica/uidevice-extension</string>
			<key>Key</key>
			<string>uidevice-extension</string>
		</dict>
	</array>
</dict>
</plist>
